#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.editor-container {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.editor-container h2 {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.editor-container select {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.content-container {
  flex: 1;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-container pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.hover-container {
  position: relative;
  display: inline-block;
}

.hover-text {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.hover-text::after {
  content: "";
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.hover-container:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.editor-controls {
  flex-shrink: 0;
}

.editor-wrapper {
  flex-grow: 1;
  min-height: 0;
}

.cfg-wrapper {
  flex-grow: 1;
  min-height: 0;
  position: relative;
}

.hover-input {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-left: 10px;
}
